.skill-img-background{
  border-radius: 50%;
  background-color: #FFBD39;
  top: 180px;
  left: 30px;
  filter: drop-shadow(10px 10px 10px #FFBD39);
  animation: juggling 1500ms linear 50ms infinite ;
  opacity: 0.5;
}

@keyframes juggling {
  0%{
    top: 180px;
    left: 30px;
  }
  5%{
    top: 90px;
    left: 60px;
  }
  10%{
    top: 40px;
    left: 110px;
  }
  15%{
    top: 10px;
    left: 150px;
   
  }
  20%{
    top: -5px;
    left: 175px;
  }
  25%{
    top:-10px;
    left: 230px;
  }
  30%{
    top: 0px;
    left: 270px;
  }
  35%{
    top: 20px;
    left: 320px;
    
  }
  40%{
    top: 80px;
    left: 390px;
  }
  45%{
    top: 120px;
    left: 400px;
    /*  */
  }
  50%{
    top: 190px;
    left: 420px;
  }
  55%{
    top: 120px;
    left: 400px;
  }
  60%{
    top: 80px;
    left: 390px;

  }
  65%{
    top: 20px;
    left: 320px;
  }
  70%{
    top: 0px;
    left: 270px;
  }
  75%{
    top:-10px;
    left: 230px;
  }
  80%{
    top: -5px;
    left: 175px;
    
  }
  85%{
    top: 10px;
    left: 150px;
   
  }
  90%{
    top: 40px;
    left: 110px;
  }
  }
